<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="gallery_background">

    <!-- Header Component -->
    <app-header></app-header>

    <!-- Main heading is written here -->
    <div class="main-heading-container">
        <h1 class="main_heading">OUR GALLERY</h1>
    </div>

    <br><br><br><br><br><br><br>

    <section id="gallery">
        <!-- Gallery content here -->
        <div class="gallery">
            <br><br><br><br>
            <div class="image_body">
                <div class="row">
                    <div class="image_gallery">
                        <img src="assets/image_gallery/CheeseDosa.jpeg" alt="Image 1" class="zoomable"
                            title="South Indian-DOSA">
                    </div>
                    <div class="image_gallery">
                        <img src="assets/image_gallery/curdRice.jpeg" alt="Image 2" class="zoomable"
                            title="South Indian-Curd Rice">
                    </div>
                    <div class="image_gallery">
                        <img src="assets/image_gallery/idly.jpeg" alt="Image 3" class="zoomable"
                            title="South Indian-Idly">
                    </div>
                </div>
                <div class="row">
                    <div class="image_gallery">
                        <img src="assets/image_gallery/naanCurry.jpeg" alt="Image 4" class="zoomable"
                            title="North Indian-Naan">
                    </div>
                    <div class="image_gallery">
                        <img src="assets/image_gallery/soup.jpeg" alt="Image 5" class="zoomable"
                            title="North Indian-Soups">
                    </div>
                    <div class="image_gallery">
                        <img src="assets/image_gallery/paneer.jpeg" alt="Image 6" class="zoomable"
                            title="North Indian-Paneer Curry">
                    </div>
                </div>
                <div class="row">
                    <div class="image_gallery">
                        <img src="assets/image_gallery/kaju barfi.jpeg" alt="Image 7" class="zoomable"
                            title="Sweets-Kaju Barfi">
                    </div>
                    <div class="image_gallery">
                        <img src="assets/image_gallery/sonaPapadi.jpeg" alt="Image 8" class="zoomable"
                            title="Sweets-Soan Papadi">
                    </div>
                    <div class="image_gallery">
                        <img src="assets/image_gallery/rasmalai.jpeg" alt="Image 9" class="zoomable"
                            title="Sweets-Rasmalai">
                    </div>
                </div>
                <div class="row">
                    <div class="image_gallery">
                        <img src="assets/image_gallery/.panijpeg.jpeg" alt="Image 10" class="zoomable"
                            title="Chats-PaniPuri">
                    </div>
                    <div class="image_gallery">
                        <img src="assets/image_gallery/dahiPuri.jpeg" alt="Image 11" class="zoomable"
                            title="Chats-DahiPuri">
                    </div>
                    <div class="image_gallery">
                        <img src="assets/image_gallery/pavBajji.jpeg" alt="Image 12" class="zoomable"
                            title="Chats-Pav Bhaji">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>

    <br><br><br>

    <!-- Footer Component -->
    <!-- <app-footer></app-footer> -->