<header>
    <nav>
        <div class="logo">
            <img  src="assets/images/logo.png" alt="Restaurant Logo">
        </div>
        <ul>
          <li><button (click)="navigateToHome()">Home</button></li>
          <li><button (click)="navigateToGallery()">Gallery</button></li>
          <li><button (click)="navigateToMenu()">Menu</button></li>
          <li><button (click)="navigateToOrders()">Orders</button></li>
          <li><button (click)="navigateToLogout()">Logout</button></li>  
        </ul>
    </nav>
  </header>


