<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="background_image">

    <!-- Header component -->
    <app-header></app-header>

    <!-- Main heading -->
    <div class="main-heading-container">
        <h1 class="main_heading">MASTER CHEF</h1>
        <p class="sub_heading"><i>"Khane kaa swaad, jo hameshaa rahe yaad"</i></p>
    </div>

    <br><br><br><br><br>

    <!-- About Section -->
    <section class="about">
        <br><br>
        <h3 class="about_h6"> Welcome to MasterChef </h3>
        <div class="abt_container">
            <div><img class="image_about" src="assets/images/ABOUT_SIDE.jpeg" alt="" /></div>
            <div class="text_about">
                <p>
                    This Restaurant has been serving delightful experiences
                    through the art of cooking for four decades. A cozy, relaxing
                    space combined with flavourful dishes makes it a first choice
                    for every foodie in town. It provides a wide range of items to
                    choose from and lets everyone indulge in an experience of
                    pleasing their taste buds.</p>
            </div>
        </div>
        <br><br><br>
    </section>
    <br><br>

    <!-- Transparent middle section breaker part ************ -->
    <section id="transparent">
        <br><br>
        <h6 class="transparent_h6"><b>We Create Delicious Memories</b></h6>
        <br>
        <h1 class="transparent_h1">Eat Good Feel Good</h1>
    </section>

    <!-- This is our speciality section *************** -->
    <section class="speciality">
        <br>
        <div class="speciality_header">
            <h6><b>MasterChef Restaurant</b></h6> <br><br>
            <h1>Our Speciality</h1><br> <br>
            <p>We provide a wide range of cuisines and dishes to choose from so that every
                foodie </p> <br>
            <p class="p_2">in town has their best experience with us.</p>
        </div>

        <div class="image-row">
            <div class="image-container">
                <img src="assets/images/southIndian.jpeg" alt="Image 1" class="zoomable" title="South Indian">
            </div>
            <div class="image-container">
                <img src="assets/images/northIndian.jpeg" alt="Image 2" class="zoomable" title="North Indian">
            </div>
            <div class="image-container">
                <img src="assets/images/sweets.jpg" alt="Image 3" class="zoomable" title="Sweets">
            </div>
            <div class="image-container">
                <img src="assets/images/Panipuri3.png" alt="Image 4" class="zoomable" title="Chats">
            </div>
        </div>
    </section><br><br><br>
    <br><br><br>

    <!-- Testimonials ***** ****-->

    <section  calss="testimonial_background" style="background-image:url('assets/images/testimonials_backgroud.jpg'); height: auto; position: relative; bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;">
        <div class="testimonials_header">
            <h6><b>People Talk</b></h6> <br> <br>
            <h1>Testimonials</h1>
        </div>

        <div class="testimonial-slider">
            <div class="testimonial-card">
                <div class="testimonial-content">
                    <div class="stars">★★★★★</div>
                    <img class="test_img" src="assets/images/TEST_IND1.jpeg" alt="Person 1">
                    <h3>Satya</h3>
                    <p style="padding-bottom: 20px;">"Amazing Food!"</p>
                </div>
            </div>
            <div class="testimonial-card" style="width:100px">
                <!-- Testimonial card 2 goes here -->
                <div class="testimonial-content">
                    <div class="stars">★★★★★</div>
                    <img class="test_img" src="assets/images/TEST_IND2.jpeg" alt="Person 1">
                    <h3>Shekar</h3>
                    <p>"Super!Loved it"</p>
                </div>
            </div>
            <div class="testimonial-card">
                <!-- Testimonial card 3 goes here -->
                <div class="testimonial-content">
                    <div class="stars">★★★★★</div>
                    <img class="test_img" src="assets/images/TEST_IND3.jpeg" alt="Person 1">
                    <h3>Surabhi</h3>
                    <p>"The food is very tasty."</p>
                </div>
            </div>
            <!-- Repeat the structure for more testimonials -->
            <div class="testimonial-card">
                <div class="testimonial-content">
                    <div class="stars">★★★★★</div>
                    <img class="test_img" src="assets/images/TEST_IND4.jpeg" alt="Person 1">
                    <h3>Prakash</h3>
                    <p>"Delicious"</p>
                </div>
            </div>
        </div><br><br>
        <br><br>
    </section>


    <!-- FOOTER -->
    <!-- <app-footer></app-footer> -->
    
</body>