<!-- Header for the food page -->
  <header>
    <nav>
        <div class="logo">
            <img  src="assets/images/logo.png" alt="Restaurant Logo">
        </div>
        <ul class="ul_class">
          <li><button (click)="navigateToHome()">Home</button></li>
          <li><button (click)="navigateToGallery()">Gallery</button></li>
          <li><button (click)="navigateToMenu()">Menu</button></li>
          <li><button (click)="navigateToOrders()">Orders</button></li>
          <li><button (click)="navigateToLogIn()">LogIn</button></li> 
        </ul>
    </nav>
  <div class="main-heading-container">
    <h1 class="main_heading">YOUR ORDER</h1>
</div> <br><br><br><br><br><br>
</header>
