<!-- CART PAGE -->

<!-- App not found component-if there are no items in the cart to display -->
<app-not-found [visible]="!cart || cart.items.length <=0" notFoundMessage="Cart is Empty"
    resetLinkText="Go to Detailspage!">
</app-not-found>

<!-- If there are items in the cart, this part of the code is displayed -->
<div *ngIf="cart && cart.items.length>0" class="container">
    <!-- Order More button -->
    <div class="orderMore">
        <!--Go to Orders page -->
        <button (click)="navigateToDetails()">Order More</button>
    </div>
    <!--Shows cart item along with the price and quantity  -->
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div><!--Displaying the image-->
                <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
            </div> 
            <div><!--Displaying the Food Name -->
                <button class="foodName_button" (click)="navigateToFood(cartItem.food.id)">
                    {{cartItem.food.name}}
                </button>

            </div>
            <div class="quantity-control"><!--Increase or decrease the quantity-->
                <button class="quantity-button" (click)="decrementQuantity(cartItem)">-</button>
                <span class="quantity-display">{{ cartItem.quantity }}</span>
                <button class="quantity-button" (click)="incrementQuantity(cartItem)">+</button>
            </div>
            <div><!--Shows the price-->
                <!-- &#8377; -->
                {{cartItem.price| currency}}
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>

    <!-- This shows the bill with the total products and the cost -->
    <div class="checkout">
        <div class="foods-count">
            {{cart.items.length}}
        </div>
        <div class="total-price">
            <!-- &#8377; -->
            {{cart.totalPrice | currency}}
        </div>
        <p><button (click)="navigateToCheckout()">Proceed To Checkout</button></p>
    </div>
</div>