<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="menu_background_image">

    <!-- Header Component -->
    <app-header></app-header>

    <!-- Main Heading -->
    <div class="main-heading-container">
        <h1 class="main_heading">MENU</h1>
    </div>

    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <!-- MENU ***********  -->
    <section class="menu_section">
        <br>
        <div class="menu_text">
            <h6><b>Taste the best</b></h6>
            <h1>Discover Our Menu</h1>
        </div>
        <br><br>
        <div class="menu_image">
            <img class="each_menu" src="assets/images/menu2.jpg">
            <img class="each_menu" src="assets/images/menu3.jpg">
            <img class="each_menu" src="assets/images/menu4.jpg">
            <img class="each_menu" src="assets/images/menu5.jpg">
        </div>
    </section>
    <br><br><br><br><br><br>

    <!-- Footer ********* -->
    <!-- <app-footer></app-footer> -->
</body>